.User{
    border: 1px solid rgb(126, 107, 107);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 25%;
    border-radius: 10px;
    background-color: aliceblue;
}
.Dinput{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.Dinput input{
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
.User button{
        border: 1px solid #9e8484;
        padding: 10px;
        border-radius: 5px;
        width: 100px;
        margin: 10px;
        background-color: pink;
}
ul li{
    border: 1px solid rgb(96, 78, 78);
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}